* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.head-titles {
  font-family: 'Playfair Display', serif;
  font-size: 3.2em;
}

h1 {
  margin: 1.3em auto;
}

.section {
  min-height: 100vh;
  padding-top: 70px;
}

.extend-height-container {
  min-height: 80vh;
}

/* ----------------- HOME SECTION --------------------- */
#hello {
  font-size: 5em;
}
.home-text {
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 5px #3b3b3b;
}

#home-section {
	width: 100wh;
	height: 90vh;
	color: #fff;
  background: linear-gradient(70deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 100%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/* ----------------- ABOUT SECTION ---------------- */
#about-me {
  background-image: linear-gradient(90deg, #797979, white, #797979);
  background-size: 200%;
  background-position: center;
}

#about-text {
  line-height: 2;
}

/* ----------------- PORTFOLIO SECTION ---------------- */
#portfolio {
  background: #0051ff;

}

.portfolio-item {
  opacity: 1;
  transition: all 0.5s ease;
  padding: 0;
  background: white;
  
}

.portfolio-img {
  transition: all 0.5s ease;
}

.portfolio-title {
  position: absolute;
  left: 0;
  bottom: 1.5em;

  text-align: center;
  font-size: 1.8em;
  width: 100%;
  background: #505050;
  color: white;
  opacity: 0;
  transition: all 0.5s ease;
}

.portfolio-item:hover {
  cursor: pointer;
}

.portfolio-item:hover
.portfolio-img {
  opacity: 0.5;
}

.portfolio-item:hover 
.portfolio-title {
  opacity: 1;
}

.modal, .fa-chevron-left, .fa-chevron-right {
  color: #505050;
}

/* .modal-tech {
  position: absolute;
  bottom: 0;
  
} */

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}


/* --------------- Contact Page ---------------- */
#contact {
  /* background: #ffebd0; */
  background-image: url("../images/streets-full.png");
  background-position: center;
}
.contact-link {
  color: inherit;
}

/* .icon-sub {
  font-size: 1.5em;
} */

/* ---------------- Footer --------------------- */
footer {
  color: #8f9296;
  padding: 45px;
}